<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary shadow-lg">
  <div class="container-md">
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-start" "context" . ) -}}
    {{- partials.IncludeCached "header/navbar/brand.html" . -}}
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-post-logo" "context" . ) -}}
    {{- partials.IncludeCached "header/navbar/toggle-button.html" . -}}
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-pre-mainnav" "context" . ) -}}
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <menu class="navbar-nav me-md-0 me-auto ms-auto">
        {{- $current := . -}}
        {{- range site.Menus.main -}}
          {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
          {{- $active = or $active (eq .Name $current.Title) -}}
          {{- if .HasChildren -}}
            <li class="nav-item dropdown">
              <div
                class="nav-link dropdown-toggle d-inline-block {{ if $active -}}
                  active
                {{- end -}}"
                data-toggle="dropdown"
                aria-expanded="false">
                {{- with .Params.bsicon -}}
                  {{- partials.Include "icon.html" . -}}
                {{- end -}}
                {{- .Name -}}
              </div>
              <ul class="dropdown-menu">
                {{- range .Children -}}
                  <li>
                    <a class="dropdown-item" href="{{- .URL | absLangURL -}}"
                        {{- with .Params.hotkey }} data-hotkey="{{ . }}"{{ end }}>
                      {{- with .Params.bsicon -}}
                        {{- partials.Include "icon.html" . -}}
                      {{- end -}}
                      {{- .Name -}}
                    </a>
                  </li>
                {{- end -}}
              </ul>
            </li>
          {{- else -}}
            <li class="nav-item {{ if $active -}}active{{- end -}}">
              <a class="nav-link" href="{{- .URL | absLangURL -}}"
                        {{- with .Params.hotkey }} data-hotkey="{{ . }}"{{ end }}>
                {{- with .Params.bsicon -}}
                  {{- partials.Include "icon.html" . -}}
                {{- end -}}
                {{- .Name -}}
              </a>
            </li>
          {{- end -}}
        {{- end -}}
        {{- partials.IncludeCached "header/navbar/theme-selector.html" . -}}
      </menu>
    </div>
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-post-mainnav" "context" . ) -}}
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-end" "context" . ) -}}
  </div>
</nav>
