<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary shadow-lg">
  <div class="container-md">
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-start" "context" . ) -}}
    {{- /* Logo/Brand name */ -}}
    <div class="navbar-brand fsize-12 fw-bold text-decoration-none ff-headline">
      {{- if site.Params.dnb.theme.logo -}}
      <a href="{{- site.BaseURL | relLangURL -}}" class="d-inline-block mt-2 text-decoration-none">
        <img class="rounded-circle" src="{{- site.Params.dnb.theme.logo | urls.AbsURL  -}}"
            alt="Logo of {{ site.Title -}}"
            height="{{- site.Params.dnb.theme.logo_height -}}"
            width="{{- site.Params.dnb.theme.logo_width -}}">
      </a>
      {{- else -}}
      <a href="{{- site.BaseURL | relLangURL -}}" class="d-inline-block mt-2 text-decoration-none">
        {{- site.Title -}}
      </a>
      {{- end -}}
    </div>
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-post-logo" "context" . ) -}}
    {{- partials.IncludeCached "header/navbar/toggle-button.html" . -}}
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-pre-mainnav" "context" . ) -}}
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <menu class="navbar-nav mt-0 me-md-0 me-auto ms-auto">
        {{- $current := . -}}
        {{- range site.Menus.main -}}

          {{- $active := "" -}}
          {{- if or ($current.HasMenuCurrent .Menu .) ($current.IsMenuCurrent .Menu .) -}}
            {{- $active = "active text-primary link-primary" -}}
          {{- else  }}
            {{ if (and $current.IsHome (eq .Name "Home"))}}
              {{- $active = "active text-primary link-primary" -}}
            {{ end }}
          {{- end -}}

          {{- if .HasChildren -}}
            <li class="nav-item dropdown">
              <div
                class="nav-link dropdown-toggle d-inline-block {{ if $active -}}
                  active
                {{- end -}}"
                data-toggle="dropdown"
                aria-expanded="false">
                {{- with .Params.bsicon -}}
                  {{- partials.Include "icon.html" . -}}
                {{- end -}}
                {{- .Name -}}
              </div>
              <ul class="dropdown-menu">
                {{- range .Children -}}
                  <li>
                    <a class="dropdown-item" href="{{- .URL | absLangURL -}}"
                        {{- with .Params.hotkey }} data-hotkey="{{ . }}"{{ end }}>
                      {{- with .Params.bsicon -}}
                        {{- partials.Include "icon.html" . -}}
                      {{- end -}}
                      {{- .Name -}}
                    </a>
                  </li>
                {{- end -}}
              </ul>
            </li>
          {{- else -}}
            <li class="nav-item {{ $active -}}">
              <a class="nav-link

              d-flex flex-row  align-items-center column-gap-2 {{ $active -}}
              " href="{{- .URL | absLangURL -}}"
                        {{- with .Params.hotkey }} data-hotkey="{{ . }}"{{ end }}>
                {{- with .Params.bsicon -}}
                  {{- partials.Include "icon.html" . -}}
                {{- end -}}
                <span>
                  {{- .Name -}}
                </span>
              </a>
            </li>
          {{- end -}}
        {{- end -}}
        {{- partials.IncludeCached "header/navbar/theme-selector.html" . -}}
      </menu>
    </div>
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-post-mainnav" "context" . ) -}}
    {{- partials.Include "func/hook.html" ( collections.Dictionary "hook" "header-topnav-end" "context" . ) -}}
  </div>
</nav>
