.site-title {
  font-family: BahnPro, sans-serif;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
  font-size: 17vw;
  margin-bottom: -1.2rem;

  // @todo clamp it
  // @see https://developer.mozilla.org/en-US/docs/Web/CSS/clamp
  @include media-breakpoint-up(sm) {
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features -- Opera Mini, muahahaha */
    font-size: 12vw;
    margin-bottom: -2.3rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 180px;
    margin-bottom: -3rem;
    padding-left: 60px;
  }

  @extend .fw-semibold;
  @extend .lh-1;

  @extend .text-center;
  @extend .text-primary;

  a {
    @extend .text-decoration-none;
  }
}
