<div x-data="app" x-cloak style="margin-top:100px;">
  <input type="search" x-model="term">
  <button @click="search" :disabled="!searchReady">{{ i18n "theme.search" }}</button>
  <div x-show="noResults">
    <p>
      {{ i18n "theme.search_no_results" }}
    </p>
  </div>
  <div x-show="results">
    <h2>{{ i18n "theme.search_results" }}</h2>
    <p>
      {{ i18n "theme.search_result_info" }}
    </p>
    <template x-for="result in results">
      <div>
        <p>
          <a :href="result.url"><span x-text="result.title"></span></a> {{ i18n "theme.search_result_posted" }}
        </p>
        <p class="snippet" x-html="result.snippet"></p>
      </div>
    </template>
  </div>
</div>
