{{- $scripts := resources.Get "js/script.ts" |
      js.Build (dict "targetPath" "assets/js/script.js") |
      minify |
      fingerprint "sha512" -}}
<script
  src="{{- $scripts.Permalink -}}"
  async
  defer
  integrity="{{- $scripts.Data.Integrity -}}"
></script>
{{- with resources.Get "js/main.js" -}}
  {{- $script := . | resources.ExecuteAsTemplate "plugins.js" . -}}
  {{- $script = $script |
        js.Build (dict "targetPath" "assets/js/main.js") |
        minify |
        fingerprint "sha512" -}}
  <script
    src="{{- $script.Permalink -}}"
    async
    defer
    integrity="{{- $script.Data.Integrity -}}"
  ></script>
{{- else -}}
  {{- partials.Include "debug.html" (dict
        "message" "[modder] js/main.js missing, module modder is probably not configured properly"
        "context" .
        "severity" "warn"
        "level" 8
  ) -}}
{{- end -}}
