{{- /*

  ```toml
  [dnb.social.sharebuttons]
  networks = ["slug1", "slug2", ...]
  icons = true
  sharetext = false

  [dnb.social.network.slug1]
  url = ""
  icon = "bootstrap icon"
  label = ""

  [dnb.social.network.slug2]
  url = ""
  icon = "bootstrap icon"
  label = ""
  ```

  */
-}}

{{- $order := collections.Slice -}}
{{- $networks := .network | compare.Default collections.Dictionary -}}
{{- $sharebuttons := .sharebuttons | compare.Default collections.Slice -}}
{{- with $sharebuttons -}}
  {{- $order = .networks -}}
{{- else -}}
  {{- range $key, $item := $networks -}}
    {{- $order = $order | append $key -}}
  {{- end -}}
{{- end -}}
<div class="widget social-media">
  <h3 class="my-3">{{- lang.Translate "theme.connect-on-social" -}}</h3>
  <div class="d-flex justify-content-around align-items-center flex-row flex-wrap gap-3">
    {{- range $order -}}
      {{- $network := index $networks . -}}
      <div class="p-2">
        <a
          href="{{- $network.url -}}"
          aria-label="{{- $network.label -}}"
          class="icon-{{ $network.icon }}"
          title="{{- $network.label -}}">
          {{- with (site.Params.dnb.social.sharebuttons.icons | compare.Default true) -}}
            {{- if eq . true -}}
              <span aria-hidden="true" class="icon">
                {{- partials.IncludeCached "bsicon.html" $network.icon $network.icon -}}
              </span>
            {{- end -}}
          {{- end -}}
          <span class="visually-hidden">
          {{- with (site.Params.dnb.social.sharebuttons.sharetext | compare.Default false) -}}
            {{- if eq . true -}}
              {{- $network.label -}}
            {{- end -}}
          {{- end -}}
          </span>
        </a>
      </div>
    {{- end -}}
  </div>
</div>
