{{- /*

  ```toml
  [dnb.social.sharebuttons]
  networks = ["slug1", "slug2", ...]
  icons = true
  sharetext = false

  [dnb.social.network.slug1]
  url = ""
  icon = "bootstrap icon"
  label = ""

  [dnb.social.network.slug2]
  url = ""
  icon = "bootstrap icon"
  label = ""
  ```

  */
-}}

{{- $order := collections.Slice -}}
{{- $networks := .network | compare.Default collections.Dictionary -}}
{{- $sharebuttons := .sharebuttons | compare.Default collections.Slice -}}
{{- with $sharebuttons -}}
  {{- $order = .networks -}}
{{- else -}}
  {{- range $key, $item := $networks -}}
    {{- $order = $order | append $key -}}
  {{- end -}}
{{- end -}}
<div class="widget social-media">
  <h3 class="my-5 fw-bold text-uppercase">{{- lang.Translate "theme.connect-on-social" -}}</h3>
  <div class="container">
    <div class="row row-cols-4 row-cols-md-6 justify-content-md-center">
      {{- range $order -}}
        {{- $network := index $networks . -}}
        <div class="col text-center">
          <a
            href="{{- $network.url -}}"
            aria-label="{{- $network.label -}}"
            class="icon-{{ $network.icon }} p-2 d-inline-block"
            title="{{- $network.label -}}">
            {{- with (site.Params.dnb.social.sharebuttons.icons | compare.Default true) -}}
              {{- if eq . true -}}
                {{- $options := dict "icon" $network.icon "class" "c-20" "width" "32" "height" "32" -}}
                {{- partials.Include "bsicon.html" $options -}}
              {{- end -}}
            {{- end -}}
            <span class="visually-hidden">
            {{- with (site.Params.dnb.social.sharebuttons.sharetext | compare.Default false) -}}
              {{- if eq . true -}}
                {{- $network.label -}}
              {{- end -}}
            {{- end -}}
            </span>
          </a>
        </div>
      {{- end -}}
      </div>
    </div>
  </div>
</div>
