{{- $post := .context -}}
{{- $fullcontent := .fullcontent | default true -}}
{{- $artist := first 1 (where
            site.Data.dnb.kollitsch.music
            "slug"
            $post.Params.video.artist
) -}}
{{- $artist = index $artist 0 -}}
{{- $articleclasses := partials.IncludeCached "func/getArticleClasses.html" $post $post -}}
<article class="{{- $articleclasses -}} music2program2 {{ $artist.slug }}">
  {{- partials.IncludeCached "components/content/status.html" $post $post -}}
  {{- $settings := dict "id" $post.Params.video.youtube -}}
  <div class="post-slider">
      <figure>
        <div class="iframe-border">
          {{- partials.IncludeCached "youtube.html" $settings $settings -}}
        </div>
        <div class="inline-icons">
          {{- with $post.Title -}}
            <div class="is--copyright"
                title="{{- . -}}"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{- . -}}">
              {{- partials.Include "bsicon.html" "camera2" "camera2" -}}
            </div>
            {{/* <figcaption class="text-center"></figcaption> */}}
          {{- end -}}
          {{- if eq true ($post.Params.theme.showdate | default true) -}}
            <div class="is--publishdate"
                title="🤖 {{ $post.PublishDate | time.Format (site.Params.dnb.theme.dateformat.timestamp | default ":date_long") -}}">
              {{- partials.IncludeCached "bsicon.html" "calendar3" "calendar3" -}}
            </div>
          {{- end -}}
        </div>
      </figure>
        {{/* <figcaption class="text-center">{{ $artist.name }}: {{ $post.Params.video.title }}</figcaption>
      </figure> */}}
  </div>
    {{/* {{- partials.IncludeCached "components/content/publishing-date.html" $post $post -}} */}}
    {{- partials.Include "components/content/headline.html" . -}}
  <div class="prose">
  {{- with $fullcontent -}}
			{{- $post.Content -}}
      {{- partials.Include "func/hook.html" ( dict "hook" "post-after" "context" $post ) -}}
      {{- partials.IncludeCached "content/meta/footer.html" $post $post -}}
  {{ else }}
		<p class="text-truncate text-truncate-5">
			{{- with $post.Summary -}}
				{{- . | markdownify -}}
			{{- else -}}
				{{- with $post.Description -}}
					{{- . | markdownify -}}
				{{- else -}}
					{{- $post.Content | plainify | truncate 200 -}}
				{{- end -}}
			{{- end -}}
		</p>
  </div>
	<div class="text-end">
		<a href="{{- $post.Permalink -}}" class="btn btn-link stretched-link" aria-label="{{- i18n "theme.read_article" -}}: {{ $post.Title -}}">
			{{- i18n "theme.read_article" -}}
			<span class="ps-2">
				{{- partials.IncludeCached "bsicon.html" "body-text" "body-text" -}}
			</span>
		</a>
  {{- end -}}
  </div>
</article>
