<div class="navbar-brand fsize-12 fw-bold text-decoration-none ff-title">
  {{- if site.Params.dnb.theme.logo -}}
  <a href="{{- site.BaseURL | relLangURL -}}" class="d-inline-block mt-2 text-decoration-none">
    <img class="rounded-circle" src="{{- site.Params.dnb.theme.logo | urls.AbsURL  -}}" alt="Logo of {{ site.Title -}}"
         height="{{- site.Params.dnb.theme.logo_height -}}" width="{{- site.Params.dnb.theme.logo_width -}}">
  </a>
  {{- else -}}
  <a href="{{- site.BaseURL | relLangURL -}}" class="d-inline-block mt-2 text-decoration-none">
    {{- site.Title -}}
  </a>
  {{- end -}}
</div>
