<footer id="footer" class="mb-0">
  {{- partial "func/hook.html" ( dict "hook" "footer-start" "context" . ) -}}
  <div class="widgets container text-center">
    {{- partial "func/hook.html" ( dict "hook" "footer-widgets-start" "context" . ) -}}
    {{- with site.Params.subscription -}}
      {{- partialCached "footer/newsletter.html" site.Params.subscription site.Params.subscription -}}
    {{- end -}}
    {{- with site.Menus.footer -}}
      {{- partialCached "footer/footer-menu.html" . -}}
    {{- end -}}
    {{- with site.Params.dnb.social -}}
      {{- partialCached "footer/social-media.html" . . -}}
    {{- end -}}
    {{- partialCached "footer/copyright.html" . -}}
    {{- if site.IsServer -}}
      {{- partial "footer/debugging.html" . -}}
    {{- end -}}
    {{- partial "func/hook.html" ( dict "hook" "footer-widgets-end" "context" . ) -}}
  </div>
  {{- partial "func/hook.html" ( dict "hook" "footer-end" "context" . ) -}}
</footer>
