{{- /* hooking into head.html hook head-post-css */ -}}
{{- with resources.Get "js/scripts/theme-toggle.js" -}}
  {{- $options := dict -}}
  {{- with resources.Get "data/build.json" -}}
    {{- $options = dict "params" (transform.Unmarshal .Content) -}}
  {{- end -}}
  {{- $scripts := . | js.Build $options -}}
  {{- $scripts := $scripts | minify | fingerprint "sha512" -}}
  <script integrity="{{- $scripts.Data.Integrity -}}">
    {{- $scripts.Content | safeJS -}}
  </script>
{{- end -}}
<meta name="view-transition" content="same-origin" />
