$primary: #ff6569;

:root {
  color-scheme: dark light;

  // transition variables
  --duration: 0.5s;
  --timing: ease;

  transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

}
