@font-face {
  font-family: "Exo 2";
  src: url('/webfonts/exo/normal.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: "Exo 2";
  src: url('/webfonts/exo/italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 100 800;
  font-style: italic;
  src: url('/assets/webfonts/jetbrainsmono/jetbrainsmonoi.ttf') format('ttf') tech('variations'),
    url('/assets/webfonts/jetbrainsmono/jetbrainsmonoi.ttf') format('ttf-variations');
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: JetBrainsMono;
  font-weight: 100 800;
  font-style: normal;
  src: url('/assets/webfonts/jetbrainsmono/jetbrainsmono.ttf') format('ttf') tech('variations'),
    url('/assets/webfonts/jetbrainsmono/jetbrainsmono.ttf') format('ttf-variations');
  font-display: swap;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: BahnPro;
  font-weight: 700;
  font-style: normal;
  src: url('/assets/webfonts/bahn/bahnpro_regular-webfont.woff2') format('woff2'),
    url('/assets/webfonts/bahnpro_regular-webfont.woff') format('woff'),
    url('/assets/webfonts/bahnpro_regular-webfont.ttf') format('truetype');
  font-display: swap;
  text-rendering: optimizelegibility;
}
