////
/// @author Patrick Kollitsch
////

// layout setup
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

// adding some more negative levels to z-index
// @see https://getbootstrap.com/docs/5.3/utilities/z-index/
$zindex-levels: (
  n3: -3,
  n2: -2,
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3
);

// @see https://getbootstrap.com/docs/5.3/utilities/spacing/#sass-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 12,
  8: $spacer * 24,
  9: $spacer * 48,
  10: $spacer * 96,
);

// @see https://getbootstrap.com/docs/5.3/utilities/text/#sass-maps
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-base * .85,
  8: $font-size-base * .75,
  9: $font-size-base * .6,
  10: $font-size-base * .5,
);

// @see https://getbootstrap.com/docs/5.3/helpers/ratio/#sass-maps
$aspect-ratios: (
  "1x1": 100%,
  "2x1": 50%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);
