#back-to-top {

  @extend .btn;
  @extend .btn-secondary;

  cursor: pointer;

  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  z-index: 9999;

  animation: fadeIn;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */

}
