.btn-back-to-top {

  @extend .btn;
  @extend .btn-dark;

  @extend .d-flex;
  @extend .flex-row-reverse;
  @extend .justify-content-end;

  margin-top: 105vh;
  position: sticky;
  bottom: 1rem;
  right: 1rem;
  float: right;

}
