.btn-back-to-top {

  @extend .btn;
  @extend .btn-dark;

  cursor: pointer;

  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 0.75rem;
  margin-right: 0.5rem;
  z-index: 9999;
  animation: fadeIn;
  animation-duration: 2s;

}
