/*******************************************************************************
 * navbar setup
 *
 * see
 * - https://getbootstrap.com/docs/5.2/components/navbar/
 * - https://getbootstrap.com/docs/5.2/components/navs-tabs/
 ******************************************************************************/
.navbar {
  background-color: rgb(33, 37, 41);

  .navbar-brand {
    a {

      &:hover {
        text-decoration: none;
      }
    }
  }

  svg {
    margin: 0;
    vertical-align: text-bottom;
    margin-bottom: 4px;
  }
}
