{{- define "main" -}}
  <section class="section--content">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <header>
            <h1>{{- .Title -}}</h1>
            <hr/>
          </header>
          {{- .Content -}}
          <hr/>

          <h2>Overview</h2>
          <ul>
            <li><a href="{{- printf "/%s/" .Section -}}">Overview</a></li>
            {{- range (site.GetPage .Section).Pages.ByWeight -}}
            <li>
              <a href="{{- .Permalink -}}">{{- .Title }}</a>
              {{- with .Summary }}
                &mdash;
                {{ . | transform.Markdownify -}}
              {{- end -}}
            </li>
            {{- end -}}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{- end -}}
