{{- define "main" -}}
  <section class="section--content">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <header>
            <h1>{{- .Title -}}</h1>
            <hr/>
          </header>
          {{- .Content -}}
          <hr/>

          <h2>Overview</h2>
          {{- $options := dict "section" .Section "summary" true -}}
          {{- partial "func/getSectionNavigation.html" $options $options -}}
        </div>
      </div>
    </div>
  </section>
{{- end -}}
