<nav class="row">
  <div class="d-flex flex-column">
    {{- $paginator := .Scratch.Get "paginator" -}}
    {{- if gt $paginator.TotalPages 1 -}}
      <ul class="pagination align-self-center mb-0">
        {{- with $paginator -}}
          {{- $currentPageNumber := .PageNumber -}}
          {{- partial "components/pagination/item-first.html" . . -}}
          {{- partial "components/pagination/item-previous.html" . . -}}
          {{- partial "components/pagination/item-current.html" . . -}}
          {{- partial "components/pagination/item-next.html" . . -}}
          {{- partial "components/pagination/item-last.html" . . -}}
        {{- end -}}
      </ul>
    {{- end -}}
    <p class="pagination-note align-self-center text-body-tertiary fs-7">
      {{- $paginator.TotalNumberOfElements }}
      posts on
      {{ $paginator.TotalPages }}
      pages
    </p>
  </div>
</nav>
